/* 
    Author: Julius Mboto
    Theme: Food Order Website Admin
    Version: 1.0
*/

*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}

.wrapper{
    padding: 1%;
    width: 80%;
    margin: 0 auto;
}

.text-center{
    text-align: center;
}

/* ----- Menu ----- */
.menu{
    border-bottom: 1px solid grey;
}

.menu ul{
    list-style-type: none;
}

.menu ul li{
    display: inline;
    padding: 1%;
}

.menu ul li a{
    text-decoration: none;
    font-weight: bold;
    color: #ff6b81;
}

.menu ul li a:hover{
    color:  #ff4757;
}

/* ----- Main Content ----- */
.main{
    background-color: #f1f2f6;
    padding: 2% 0;
}

.main-col{
    display: flex;
    justify-content: space-between;
}

.col-4{
    background-color: #ffffff;
    width: 18%;
    margin: 1% 0;
    padding: 2%;
}

.table-width{
    width: 100%;
}

.table-add-admin{
    width: 50%;
}

.table-add-admin tr td input{
    padding: 10px 30px 10px 8px;
    border-radius: 5px;
    border: 1px solid blue;
    font-size: 16px;
}

table tr th{
    border-bottom: 1px solid black;
    padding: 1%;
    text-align: left;
}

table tr td{
    padding: 1%;
}

.btn-primary, .btn-secondary, .btn-danger{
    padding: 8px 20px;
    color: #ffffff;
    font-weight: bold;
    text-decoration: none;
    cursor: pointer;
    border: none;
}

.btn-primary{
    background-color: #1e90ff;
}

.btn-secondary{
    background-color: #51cf66;
}

.btn-danger{
    background-color: #ff6b6b;
}

.btn-primary:hover{
    background-color: #3742fa;
}

.btn-secondary:hover{
    background-color: #2f9e44;
}

.btn-danger:hover{
    background-color: #e03131;
}

.success-message{
    color: #2f9e44;
}

.error-message{
    color: #e03131;
}


/* ----- Footer ----- */
.footer{
    background-color:  #ff4757;
    color: #ffffff;
}


/* ----- css for login page ----- */
.login{
    border: 1px solid grey;
    width: 30%;
    margin: 10% auto;
    padding: 2%;
}
